.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

button{
  color: white;
  font-size: 1.2em;
  padding: 7px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(10, 169, 209)
}

.update{
  font-size: 1em;
  padding: 5px;
  background-color: rgb(10, 169, 209);
  margin: 0 5px 0 5px;
}

.delete{
  font-size: 1em;
  padding: 5px;
  background-color: rgb(236, 67, 67);
  margin: 0 5px 0 5px;
}